<div class="body">
    <div class="main-informations">
        <div class="m-info">
            <p class="title">Mâs</p>
            <p class="info-data">Abril</p>
        </div>
        <div class="m-info">
            <p class="title">Carteira</p>
            <p class="info-data">R$ 500,00</p>
        </div>
        <div class="m-info">
            <p class="title">	Aporte/Retirada </p>
            <p class="info-data">R$ -15,00</p>
        </div>
        <div class="m-info">
            <p class="title">Lucro</p>
            <p class="info-data">R$ 15,00</p>
        </div>
        <div class="m-info">
            <p class="title">Resultado</p>
            <p class="info-data">R$ 500,00</p>
        </div>
    </div>

    <div class="table">
        <div class="main-table">
            <table class="tg">
                <tr>
                    <th class="tg-60hs"><span style="font-weight:bold">Dia</span></th>
                    <th class="tg-60hs"><span style="font-weight:bold">Carteira</span></th>
                    <th class="tg-60hs"><span style="font-weight:bold">Meta esperada</span></th>
                    <th class="tg-60hs"><span style="font-weight:bold">Meta esperada</span></th>
                    <th class="tg-60hs"><span style="font-weight:bold">Meta atingida</span></th>
                    <th class="tg-60hs"><span style="font-weight:bold">Meta atingida</span></th>
                    <th class="tg-60hs"><span style="font-weight:bold">Resultado</span></th>
                    <th class="tg-60hs"><span style="font-weight:bold">Status</span></th>
                </tr>
                <tr>
                    <td class="tg-rg0h">d/m</td>
                    <td class="tg-rg0h">R$</td>
                    <td class="tg-rg0h">R$</td>
                    <td class="tg-rg0h">%%</td>
                    <td class="tg-rg0h">R$</td>
                    <td class="tg-rg0h">%%</td>
                    <td class="tg-rg0h">R$</td>
                    <td class="tg-rg0h">--</td>
                </tr>
                <tr>
                    <td class="tg-0lax"><b>02/03</b></td>
                    <td class="tg-0lax"><spam style="font-size: small;">R$</spam>500,00</td>
                    <td class="tg-0lax"><spam style="font-size: small;">R$</spam>15,00</td>
                    <td class="tg-0lax">3<spam style="font-size: small;">%</spam></td>
                    <td class="tg-0lax"><spam style="font-size: small;">R$</spam>15,00</td>
                    <td class="tg-0lax">3<spam style="font-size: small;">%</spam></td>
                    <td class="tg-0lax"><spam style="font-size: small;">R$</spam>15,00</td>
                    <td class="tg-0lax">Atingida</td>
                </tr>
                <tr>
                    <td class="tg-0lax"><b>03/03</b></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                </tr>
                <tr>
                    <td class="tg-0lax"><b>04/03</b></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                </tr>
                <tr>
                    <td class="tg-0lax"><b>05/03</b></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                </tr>
            </table>
        </div>

        <div class="sub-table">
            <br>
            <table class="tg">
                <tr>
                    <td class="tg-0lax">Semana 2</td>
                    <td class="tg-0lax"><spam style="font-size: small;">R$</spam>500,00</td>
                    <td class="tg-0lax"><spam style="font-size: small;">R$</spam>15,00</td>
                    <td class="tg-0lax">3<spam style="font-size: small;">%</spam></td>
                    <td class="tg-0lax"><spam style="font-size: small;">R$</spam>15,00</td>
                    <td class="tg-0lax">3<spam style="font-size: small;">%</spam></td>
                    <td class="tg-0lax"><spam style="font-size: small;">R$</spam>15,00</td>
                    <td class="tg-0lax">Atingida</td>
                </tr>
            </table>
        </div>
    </div>
</div>

