@model ProjetoDATATrade.Models.Login

@{
Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/login/styles.css">
    <title>Login</title>
    <script src="~/js/validationLoginForm.js" defer></script>
</head>

<body>
    <div class="back">
        <div class="container">
            <div class="logo">
                <img src="~/css/login/svg/Logo.svg" alt="DATA-Core">
            </div>
            <hr>
            <div class="card">
                <form>
                    <div>
                        <input required type="email" placeholder="E-mail">
                        <span class="error"></span>
                    </div>
                    <div>
                        <input required type="password" placeholder="Senha">
                        <span class="error"></span>
                    </div>

                    <button type="submit" class="btnLogin">Login</button>
                </form>
                <div class="options">
                    <a href="#" id="Forgot">Esqueci a senha!</a>
                    <a href="#" id="Register">Registrar-se</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>