<footer class="main-footer">
  <div class="footer-container">
    <div class="logo-footer">
      <img src="~/images/img/footer-logo.svg" alt="DATATRADER">
    </div>
    <div class="links-footer mapa-do-site">
      <h3>Mapa do site</h3>
      <ul>
        <li><a href="~/Home/Index">Minhas Regras</a></li>
        <li><a href="~/Home/DTrade">Diário de Trader</a></li>
        <li><a href="~/Home/Rentabilidade">Rentabilidade</a></li>
      </ul>
    </div>
    <div class="links-footer Suporte">
      <h3>Suporte</h3>
      <ul>
        <li><a href="#">Fale com a gente</a></li>
        <li><a href="#">Feedbacks</a></li>
        <li><a href="#">E-mail</a></li>
      </ul>
    </div>
  </div>
</footer>
