<!-- Inicio do card 1 -->
<div class="card">
  <div class="card-header">
    <p>01 DE JANEIRO</p>
    <button type="button" class="button remove-btn">Excluir</button>
  </div>
  
  
  <div class="card-body">
    <div class="day-graphic-img">
      <img src="~/images/img/graphic_extend.png">
    </div>
    <div class="main-table">
      <table class="iTable">
        <tr>
          <th class="iTable-title">Ativo</th>
          <th class="iTable-data">EURU$D</th>
        </tr>
        
        <tr>
          <th class="iTable-title">Estratégia</th>
          <th class="iTable-data">CTFIBO</th>
        </tr>
        
        <tr>
          <th class="iTable-title">Data/Hora</th>
          <th class="iTable-data">23/04  15:00h</th>
        </tr>
        
        <tr>
          <th class="iTable-title">Carteira</th>
          <th class="iTable-data">R$ 350,00</th>
        </tr>
        
        <tr>
          <th class="iTable-title">Risco</th>
          <th class="iTable-data">14,2%</th>
        </tr>
        
        <tr>
          <th class="iTable-title">Preço de entrada</th>
          <th class="iTable-data">R$ 5,34</th>
        </tr>
      </table>
      
      <table class="iTable">
        <tr>
          <th class="iTable-title">Take Profit:</th>
          <th class="iTable-data">R$ +20</th>
        </tr>
        
        <tr>
          <th class="iTable-title">Stop Loss:</th>
          <th class="iTable-data">R$ -10</th>
        </tr>
        
        <tr>
          <th class="iTable-title">Resultado:</th>
          <th class="iTable-data">R$ 10,00</th>
        </tr>
        
        <tr>
          <th class="iTable-title">Ordem:</th>
          <th class="iTable-data">Venda</th>
        </tr>
        
        <tr>
          <th class="iTable-title">Lote:</th>
          <th class="iTable-data">0,3</th>
        </tr>
        
        <tr>
          <th class="iTable-title">Num. Oper:</th>
          <th class="iTable-data">1</th>
        </tr>
        
      </table>
    </div>
  </div>
</div>