@model ProjetoDATATrade.Controllers.HomeController.ViewModelRegistro


@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>

    <!-- CSS's -->
    <link rel="stylesheet" href="~/css/dTrade/body.css">
    <!-- CSS's Globais -->
    <link rel="stylesheet" href="~/css/global/global.css">
    <link rel="stylesheet" href="~/css/global/header.css">
    <link rel="stylesheet" href="~/css/global/footer.css">
    <link rel="stylesheet" href="~/css/global/btn-add.css">
    <link rel="stylesheet" href="~/css/global/modal-settings.css"> <!-- prefixo 'ms' -->
    <link rel="stylesheet" href="~/css/global/modal-data.css"> <!-- prefixo 'md' -->
    <link rel="stylesheet" href="~/css/global/modal-estrategia.css"> <!-- prefixo 'me' -->

</head>
<body>
    <!-- Header -->
    <header>
        <div class="header-container">
            <div class="main-logo">
                <a href="@Url.Action("Index", "Home")"><img src="~/images/img/main-logo.png" alt="Logo DataTrade"></a>
            </div>

            <div class="main-info">
                <div class="info-01">
                    <label>Rendimento diário</label>
                    <div id="main-rendimento-header">
                        <p>10%</p>
                    </div>
                </div>
                <div class="info-02">
                    <label>Lucro diário</label>
                    <div id="main-lucro-header">
                        <p>R$ 30,00</p>
                    </div>
                </div>
            </div>

            <div class="info-profile">
                <div class="profile">
                    <div class="name">
                        <p>Sr. Leonardo <p class="sec-name"> de Paula</p>
                    </div>
                    <div class="wallet">
                        <div class="wallet-icon">
                            <img src="~/images/icons/wallet.svg" alt="Carteira">
                        </div>
                        <div class="wallet-value">
                            <p>R$ 0,00</p>
                        </div>
                    </div>
                </div>
                <div class="avatar">
                    <img src="https://api.adorable.io/avatars/100/abott@adorable.png" alt="Avatar">
                </div>
            </div>
        </div>

        <nav>
            <div class="container-nav">
                <ul class="grid-nav">
                    <li class="grid-item"><a href="@Url.Action("Index", "Home")">Minhas Regras</a></li>
                    <li class="grid-item"><a href="@Url.Action("DTrade", "Home")">Diário de Trade</a></li>
                    <li class="grid-item last"><a href="@Url.Action("Rentabilidade", "Home")">Rentabilidade</a></li>
                </ul>
            </div>
        </nav>
    </header>


    <!-- Main -->
    <div class="container">
        <div class="card-container">
            <div class="header">
                <h2>Diário de trade</h2>
                <div class="filter">
                    <div class="filter">
                        <select name="month" id="">
                            <option value="Julho">Julho</option>
                            <option value="Agosto">Agosto</option>
                        </select>
                    </div>
                    <div class="filter">
                        <select name="year" id="">
                            <option value="2020">2020</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <p>01 DE JANEIRO</p>
                    <button type="button" class="button remove-btn">Excluir</button>
                </div>


                <div class="card-body">
                    <div class="day-graphic-img">
                        <img src="~/images/img/graphic_extend.png">
                    </div>
                    <div class="main-table">
                        <table class="iTable">
                            <tr>
                                <th class="iTable-title">Ativo</th>
                                <th class="iTable-data">EURU$D</th>
                            </tr>

                            <tr>
                                <th class="iTable-title">Estratégia</th>
                                <th class="iTable-data">CTFIBO</th>
                            </tr>

                            <tr>
                                <th class="iTable-title">Data/Hora</th>
                                <th class="iTable-data">23/04  15:00h</th>
                            </tr>

                            <tr>
                                <th class="iTable-title">Carteira</th>
                                <th class="iTable-data">R$ 350,00</th>
                            </tr>

                            <tr>
                                <th class="iTable-title">Risco</th>
                                <th class="iTable-data">14,2%</th>
                            </tr>

                            <tr>
                                <th class="iTable-title">Preço de entrada</th>
                                <th class="iTable-data">R$ 5,34</th>
                            </tr>
                        </table>

                        <table class="iTable">
                            <tr>
                                <th class="iTable-title">Take Profit:</th>
                                <th class="iTable-data">R$ +20</th>
                            </tr>

                            <tr>
                                <th class="iTable-title">Stop Loss:</th>
                                <th class="iTable-data">R$ -10</th>
                            </tr>

                            <tr>
                                <th class="iTable-title">Resultado:</th>
                                <th class="iTable-data">R$ 10,00</th>
                            </tr>

                            <tr>
                                <th class="iTable-title">Ordem:</th>
                                <th class="iTable-data">Venda</th>
                            </tr>

                            <tr>
                                <th class="iTable-title">Lote:</th>
                                <th class="iTable-data">0,3</th>
                            </tr>

                            <tr>
                                <th class="iTable-title">Num. Oper:</th>
                                <th class="iTable-data">1</th>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="main-footer">
        <div class="footer-container">
            <div class="logo-footer">
                <img src="~/images/img/footer-logo.svg" alt="DATATRADER">
            </div>
            <div class="links-footer mapa-do-site">
                <h3>Mapa do site</h3>
                <ul>
                    <li><a href="~/MinhasRegras/Index">Minhas Regras</a></li>
                    <li><a href="~/Home/DTrade">Diário de Trader</a></li>
                    <li><a href="~/Home/Rentabilidade">Rentabilidade</a></li>
                </ul>
            </div>
            <div class="links-footer Suporte">
                <h3>Suporte</h3>
                <ul>
                    <li><a href="#">Fale com a gente</a></li>
                    <li><a href="#">Feedbacks</a></li>
                    <li><a href="#">E-mail</a></li>
                </ul>
            </div>
        </div>
    </footer>

    <!-- Botão de inserção de dados -->
    <div class="add-btn">
        <div class="add-options-btn" id="btn-options">
            <div class="hover2">
                <button class="button fir-btn" id="btn-add-data"><img src="~/images/icons/file-plus.svg"></button>
                <div class="text-effect">Dados</div>
            </div>
        </div>
        <button id="add-btn-show" type="button">+</button>
    </div>

    <!-- Modal inserir de dados -->
    <div class="md-modal-container " id="md-modal">
        <div class="md-modal">

            <div class="md-btn-close">
                <img src="~/images/icons/close_bck.svg" id="close">
            </div>
            <h2>Inserir dados</h2>

            <div class="md-body">
                <form method="POST" asp-action="Operacao" asp-controller="Home" class="md-form">

                    <div class="md-form-left">
                        <input class="input" type="text" placeholder="Ativo" asp-for="Ativo">
                        <input class="input" type="datetime" placeholder="Data e hora" asp-for="DataeHora">
                        <input class="input" type="text" placeholder="Valor em carteira" asp-for="Carteira">
                        <input class="input" type="number" placeholder="Risco" asp-for="Risco">
                        <input class="input" type="number" placeholder="Preço de entrada" asp-for="PrecoEntrada">
                        <input class="input" type="number" placeholder="Take Profit" asp-for="TakeProfit">
                        <input class="input" type="number" placeholder="Stop Loss" asp-for="StopLoss">
                        <input class="input" type="text" placeholder="Ordem" asp-for="Ordem">
                        <input class="input" type="text" placeholder="Lote" asp-for="Lote">
                        <input class="input" type="number" placeholder="Numero da Operacao" asp-for="NumeroOp">
                        <div>
                            <input class="input" type="text" placeholder="Resultado" asp-for="Resultado">

                            <div class="md-radio-btn">
                                <input type="radio" id="ganho" name="type" value="0" asp-for="">
                                <label for="ganho">Ganho</label>
                                <input type="radio" id="perda" name="type" value="1" asp-for="">
                                <label for="perda">Perda</label>
                            </div>
                        </div>

                        <input class="input" type="text" placeholder="Investimento mensal"> <!--Pra onde vai?-->

                        <div>
                            <select class="input" placeholder="Estratégia" asp-for="EstrategiaOperacao">
                                <option value="Teste">Teste</option> <!--Popular DropDownList-->
                            </select>
                            <div class="md-new-strategy">
                                <a href="#">Adicionar uma nova estratégia</a>
                            </div>
                        </div>

                        <label class="md-file-input" for="file-input">
                            <img src="~/images/img/uploadImage.svg" />
                        </label>
                        <input id="file-input" type="file" accept="image/*" asp-for="image"/>

                        <div class="md-save-btn">
                            <button type="submit">
                                Adicionar
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <!-- Modal config. de perfil -->
    <div class="ms-modal-container" id="modalInitial">

        <div class="ms-modal">
            <header class="ms-header">
                <div class="ms-close">
                    <img src="~/images/icons/close.svg" alt="" id="close">
                </div>

                <div class="ms-wallet">
                    <div class="ms-wallet-icon">
                        <img src="~/images/icons/wallet.svg" alt="Carteira">
                    </div>
                    <div class="ms-wallet-value">
                        R$<input class="inputNone" type="number" step="0.01" min="0" max="10" asp-for="Saldo">
                    </div>
                </div>
            </header>

            <div class="ms-avatar">
                <img src="https://api.adorable.io/avatars/100/abott@adorable.png" alt="Avatar">
            </div>
            <div class="ms-name">
                <p><b>Sr. Leonardo de Paula</b></p> <!--Renderizar o nome da pessoas-->
            </div>

            <div class="ms-line">
                <hr>
            </div>

            <h1>Dados de usuário</h1>

            <form method="POST" asp-action="RecuperarAlterarSenha" asp-controller="Index" class="ms-form">

                <div class="ms-first-settings">
                    <input class="input" type="text" value="Leonardo" asp-for="NomeCompleto">
                    <input class="input" type="email" placeholder="leonardo@leonardo.com" disabled>
                    <div>
                        <input class="input input-password" type="password" placeholder="Senha atual" asp-for="Senha">
                        <input class="input input-password" type="password" placeholder="Nova senha" asp-for="SenhaNova">
                    </div>
                </div>

                <div class="ms-line">
                    <hr>
                </div>

                <h1>Perfil Trader</h1>

                <div class="ms-perfilTrader-settings">
                    <input class="input" type="text" placeholder="Dias da operação" asp-for="DiasTrader">
                    <input class="input" type="time" placeholder="Horario de operação" asp-for="HorarioTrader">
                    <input class="input" type="number" placeholder="Objetivo de ganho diário" asp-for="ObjetivoGanhoDiario">
                    <input class="input" type="number" placeholder="Objetivo de ganho semanal" asp-for="ObjetivoGanhoSemanal">
                    <input class="input" type="number" placeholder="Objetivo de ganho mensal" asp-for="ObjetivoGanhoMensal">
                    <input class="input" type="number" placeholder="Limite de perda diária" asp-for="LimitePerdaDiaria">
                    <input class="input" type="number" placeholder="Limite de perda semanal" asp-for="LimitePerdaSemanal">
                    <input class="input" type="number" placeholder="Limite de perda mensal" asp-for="LimitePerdaMensal">
                    <input class="input" type="text" placeholder="Ativo" asp-for="AtivoOperado">
                    <input class="input" type="text" placeholder="Indicadores" asp-for="IndicadorTrader">
                </div>

                <div class="ms-button">
                    <button type="submit">Salvar</button>
                </div>
            </form>

        </div>
    </div>

    <!-- Scripts -->
    <script src="~/js/ms-modal.js"></script>
    <script src="~/js/md-modal.js"></script>
    <script src="~/js/me-modal.js"></script>
    <script src="~/js/button-modal.js"></script>
</body>
</html>