@model ProjetoDATATrade.Controllers.HomeController.ViewModelRegistro


@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>

    <!-- CSS's -->
    <link rel="stylesheet" href="~/css/dTrade/body.css">
    <!-- CSS's Globais -->
    <link rel="stylesheet" href="~/css/global/global.css">
    <link rel="stylesheet" href="~/css/global/header.css">
    <link rel="stylesheet" href="~/css/global/footer.css">
    <link rel="stylesheet" href="~/css/global/btn-add.css">
    <link rel="stylesheet" href="~/css/global/modal-settings.css"> <!-- prefixo 'ms' -->
    <link rel="stylesheet" href="~/css/global/modal-data.css"> <!-- prefixo 'md' -->
    <link rel="stylesheet" href="~/css/global/modal-estrategia.css"> <!-- prefixo 'me' -->

</head>
<body>
    <!-- Header -->
    <partial name="_HeaderLayout" />

    <!-- Main -->
    <div class="container">
        <div class="card-container">
            <div class="header">
                <h2>Diário de trade</h2>
                <div class="filter">
                    <div class="filter">
                        <select name="month" id="">
                            <option value="Julho">Julho</option>
                            <option value="Agosto">Agosto</option>
                        </select>
                    </div>
                    <div class="filter">
                        <select name="year" id="">
                            <option value="2020">2020</option>
                        </select>
                    </div>
                </div>
            </div>

            <!-- Inicio do card 1 -->
            <div class="card">
                <div class="card-header">
                    <p>01 DE JANEIRO</p>
                    <button type="button" class="button remove-btn">Excluir</button>
                </div>


                <div class="card-body">
                    <div class="day-graphic-img">
                        <img src="~/images/img/graphic_extend.png">
                    </div>
                    <div class="main-table">
                        <table class="iTable">
                            <tr>
                                <th class="iTable-title">Ativo</th>
                                <th class="iTable-data">EURU$D</th>
                            </tr>

                            <tr>
                                <th class="iTable-title">Estratégia</th>
                                <th class="iTable-data">CTFIBO</th>
                            </tr>

                            <tr>
                                <th class="iTable-title">Data/Hora</th>
                                <th class="iTable-data">23/04  15:00h</th>
                            </tr>

                            <tr>
                                <th class="iTable-title">Carteira</th>
                                <th class="iTable-data">R$ 350,00</th>
                            </tr>

                            <tr>
                                <th class="iTable-title">Risco</th>
                                <th class="iTable-data">14,2%</th>
                            </tr>

                            <tr>
                                <th class="iTable-title">Preço de entrada</th>
                                <th class="iTable-data">R$ 5,34</th>
                            </tr>
                        </table>

                        <table class="iTable">
                            <tr>
                                <th class="iTable-title">Take Profit:</th>
                                <th class="iTable-data">R$ +20</th>
                            </tr>

                            <tr>
                                <th class="iTable-title">Stop Loss:</th>
                                <th class="iTable-data">R$ -10</th>
                            </tr>

                            <tr>
                                <th class="iTable-title">Resultado:</th>
                                <th class="iTable-data">R$ 10,00</th>
                            </tr>

                            <tr>
                                <th class="iTable-title">Ordem:</th>
                                <th class="iTable-data">Venda</th>
                            </tr>

                            <tr>
                                <th class="iTable-title">Lote:</th>
                                <th class="iTable-data">0,3</th>
                            </tr>

                            <tr>
                                <th class="iTable-title">Num. Oper:</th>
                                <th class="iTable-data">1</th>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>

            <!-- Inicio do card 2 -->
            <partial name="_TableLayout" />

        </div>
    </div>

    <!-- Footer -->
    <partial name="_FooterLayout" />

    <!-- Botão de inserção de dados -->
    <div class="add-btn">
        <div class="add-options-btn" id="btn-options">
            <div class="hover2">
                <button class="button fir-btn" id="btn-add-data"><img src="~/images/icons/file-plus.svg"></button>
                <div class="text-effect">Dados</div>
            </div>
        </div>
        <button id="add-btn-show" type="button">+</button>
    </div>

    <!-- Modal inserir de dados -->
    <div class="md-modal-container " id="md-modal">
        <div class="md-modal">

            <div class="md-btn-close">
                <img src="~/images/icons/close_bck.svg" id="close">
            </div>
            <h2>Inserir dados</h2>

            <div class="md-body">
                <form method="POST" asp-action="Operacao" asp-controller="Home" class="md-form">

                    <div class="md-form-left">
                        <input class="input" type="text" placeholder="Ativo" asp-for="Ativo">
                        <input class="input" type="datetime" placeholder="Data e hora" asp-for="DataeHora">
                        <input class="input" type="text" placeholder="Valor em carteira" asp-for="Carteira">
                        <input class="input" type="number" placeholder="Risco" asp-for="Risco">
                        <input class="input" type="number" placeholder="Preço de entrada" asp-for="PrecoEntrada">
                        <input class="input" type="number" placeholder="Take Profit" asp-for="TakeProfit">
                        <input class="input" type="number" placeholder="Stop Loss" asp-for="StopLoss">
                        <input class="input" type="text" placeholder="Ordem" asp-for="Ordem">
                        <input class="input" type="text" placeholder="Lote" asp-for="Lote">
                        <input class="input" type="number" placeholder="Numero da Operacao" asp-for="NumeroOp">
                        <div>
                            <input class="input" type="text" placeholder="Resultado" asp-for="Resultado">

                            <div class="md-radio-btn">
                                <input type="radio" id="ganho" name="type" value="0" <!--asp-for=""--> >
                                <label for="ganho">Ganho</label>
                                <input type="radio" id="perda" name="type" value="1" <!--asp-for=""--> >
                                <label for="perda">Perda</label>
                            </div>
                        </div>

                        <input class="input" type="text" placeholder="Investimento mensal"> <!--Pra onde vai?-->

                        <div>
                            <select class="input" placeholder="Estratégia" asp-for="EstrategiaOperacao">
                                <option value="Teste">Teste</option> <!--Popular DropDownList-->
                            </select>
                            <div class="md-new-strategy">
                                <a href="#">Adicionar uma nova estratégia</a>
                            </div>
                        </div>

                        <label class="md-file-input" for="file-input">
                            <img src="~/images/img/uploadImage.svg" />
                        </label>
                        <input id="file-input" type="file" accept="image/*"<!--asp-for="image"-->/>

                        <div class="md-save-btn">
                            <button type="submit">
                                Adicionar
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <!-- Modal config. de perfil -->
    <partial name="_configUser" />

    <!-- Scripts -->
    <script src="~/js/ms-modal.js"></script>
    <script src="~/js/md-modal.js"></script>
    <script src="~/js/me-modal.js"></script>
    <script src="~/js/button-modal.js"></script>
</body>
</html>