@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DataTrader</title>

    <!-- CSS's -->
    <link rel="stylesheet" href="~/css/index/body.css">
    <!-- CSS's Globais -->
    <link rel="stylesheet" href="~/css/global/global.css">
    <link rel="stylesheet" href="~/css/global/header.css">
    <link rel="stylesheet" href="~/css/global/footer.css">
    <link rel="stylesheet" href="~/css/global/btn-add.css">
    <link rel="stylesheet" href="~/css/global/modal-settings.css"> <!-- prefixo 'ms' -->
    <link rel="stylesheet" href="~/css/global/modal-data.css"> <!-- prefixo 'md' -->
    <link rel="stylesheet" href="~/css/global/modal-estrategia.css"> <!-- prefixo 'me' -->

</head>
<body>

    <!-- Header -->
    <header>
        <div class="header-container">
            <div class="main-logo">
                <a href="~/Home/Index"><img src="~/images/img/main-logo.png" alt="Logo DataTrade"></a>
            </div>

            <div class="main-info">
                <div class="info-01">
                    <label>Rendimento diário</label>
                    <div id="main-rendimento-header">
                        <p>10%</p>
                    </div>
                </div>
                <div class="info-02">
                    <label>Lucro diário</label>
                    <div id="main-lucro-header">
                        <p>R$ 30,00</p>
                    </div>
                </div>
            </div>

            <div class="info-profile">
                <div class="profile">
                    <div class="name">
                        <p>Sr. Leonardo <p class="sec-name"> de Paula</p>
                    </div>
                    <div class="wallet">
                        <div class="wallet-icon">
                            <img src="~/images/icons/wallet.svg" alt="Carteira">
                        </div>
                        <div class="wallet-value">
                            <p>R$ 0,00</p>
                        </div>
                    </div>
                </div>
                <div class="avatar">
                    <img src="https://api.adorable.io/avatars/100/abott@adorable.png" alt="Avatar">
                </div>
            </div>
        </div>

        <nav>
            <div class="container-nav">
                <ul class="grid-nav">
                    <li class="grid-item"><a href="~/Home/Index">Minhas Regras</a></li>
                    @*<li class="grid-item"><a href="Perfurmance">Performance</a></li>*@
                    <li class="grid-item"><a href="~/Home/DTrade">Diário de Trade</a></li>
                    <li class="grid-item last"><a href="~/Home/Rentabilidade">Rentabilidade</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <!-- Main -->
    <main class="main container">
        <div class="pre-trade-section">
            <h2 class="title">Pré-Trade</h2>
            <div class="card">
                <h3 class="subtitle">Suporte/Resistência</h3>
                <hr class="line">
                <ul class="list">
                    <li>Verificar principais noticias e calendário econômico</li>
                    <li>Verificar a performance do dia anterior</li>
                    <li>Verificar tendencia do mercado (ALTA/BAIXA/LATERAL)</li>
                </ul>
                <div class="questions">
                    <menu class="list list-sec" style="list-style: none;">
                        <h3 class="text-focus">Onde?</h3>
                        <li>Tomada de decisão em suporte e resistência no time de H1</li>
                        <h3 class="text-focus">Quando?</h3>
                        <li>Quando o preço se aproximar demonstrando fraqueza perto das regiões de interesse(Suporte e Resistência)</li>
                        <h3 class="text-focus">Como?</h3>
                        <li>Programar uma ordem abaixo do candle de gatilho, após o toque na região de interesse, com gerenciamento 2/1</li>
                        <h3 class="text-focus">Por que?</h3>
                        <li>Programar uma ordem abaixo do candle de gatilho, após o toque na região de interesse, com gerenciamento 2/1</li>
                    </menu>
                </div>
            </div>
        </div>

        <div class="perfil-trade-section">
            <h2 class="title">Perfil Trader</h2>
            <div class="card">
                <div class="preferences">
                    <div class="list">
                        <ul class="row">
                            <li class="left-info">Dias da operação</li>
                            <li class="right-info">SEG-SEX</li>
                        </ul>
                        <hr>
                        <ul class="row">
                            <li class="left-info">Hora da operação</li>
                            <li class="right-info">8h - 12h</li>
                        </ul>
                        <hr>
                        <ul class="row">
                            <li class="left-info">Objetivo de ganho diário</li>
                            <li class="right-info">3,00%</li>
                        </ul>
                        <hr>
                        <ul class="row">
                            <li class="left-info">Objetivo de ganho semanal</li>
                            <li class="right-info">12%</li>
                        </ul>
                        <hr>
                        <ul class="row">
                            <li class="left-info">Objetivo de ganho mensal</li>
                            <li class="right-info">24%</li>
                        </ul>
                        <hr>
                        <ul class="row">
                            <li class="left-info">Limite de perda diária</li>
                            <li class="right-info">3,00%</li>
                        </ul>
                        <hr>
                        <ul class="row">
                            <li class="left-info">Limite de perda semanal</li>
                            <li class="right-info">12%</li>
                        </ul>
                        <hr>
                        <ul class="row">
                            <li class="left-info">Limite de perda mensal</li>
                            <li class="right-info">24%</li>
                        </ul>
                        <hr>
                    </div>
                
                    <div class="b-main-info">
                        <div class="ativo">
                            <p>Ativo:</p>
                            <p class="i-name">GBPUSD/EURUSD/USDJPY</p>
                        </div>
                        <div class="indicadores">
                            <p>Indicadores:</p>
                            <p class="i-name">PREÇO/SMA21/SMA200</p>
                        </div>
                        <div class="candles">
                            <p>Principais candles:</p>
                            <div class="candles-img">
                                <img src="~/images/img/graphic.png">
                                <img src="~/images/img/graphic.png">
                                <img src="~/images/img/graphic.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- Main - Seção de notícias -->
    <div class="newsletters container">
        <h2>Noticias do momentos</h2>
        <section class="news card">
            <div class="news-container">
                <div class="news-img">
                    <img src="~/images/img/news.png">
                </div>
                <div class="news-info">
                    <p class="news-title">News title</p>
                    <div class="text-info-news">
                        <p>
                            Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit.
                            Cursus lectus pulvinar nulla massa facilisis.
                            Duis odio tellus.
                        </p>
                    </div>
                    <div class="font-news">
                        <a href="http://www.cnn.com.br">cnn.com.br</a>
                    </div>
                </div>
            </div>
            <div class="news-container">
                <div class="news-img">
                    <img src="~/images/img/news.png">
                </div>
                <div class="news-info">
                    <p class="news-title">News title</p>
                    <div class="text-info-news">
                        <p>
                            Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit.
                            Cursus lectus pulvinar nulla massa facilisis.
                            Duis odio tellus.
                        </p>
                    </div>
                    <div class="font-news">
                        <a href="http://www.cnn.com.br">cnn.com.br</a>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- Footer -->
    <footer class="main-footer">
        <div class="footer-container">
            <div class="logo-footer">
                <img src="~/images/img/footer-logo.svg" alt="DATATRADER">
            </div>
            <div class="links-footer mapa-do-site">
                <h3>Mapa do site</h3>
                <ul>
                    <li><a href="~/Home/Index">Minhas Regras</a></li>
                    @*<li><a href="">Performance</a></li>*@
                    <li><a href="~/Home/DTrade">Diário de Trader</a></li>
                    <li><a href="~/Home/Rentabilidade">Rentabilidade</a></li>
                </ul>
            </div>
            <div class="links-footer Suporte">
                <h3>Suporte</h3>
                <ul>
                    <li><a href="#">Fale com a gente</a></li>
                    <li><a href="#">Feedbacks</a></li>
                    <li><a href="#">E-mail</a></li>
                </ul>
            </div>
        </div>
    </footer>

  <!-- Botão de inserção de dados -->
  <div class="add-btn">
    <div class="add-options-btn" id="btn-options">
      <div class="hover1">
        <button class="button sec-btn" id="btn-add-estrategia"><img src="~/images/icons/book.svg"></button>
        <div class="text-effect">Estratégia</div>
      </div>
      <div class="hover2">
        <button class="button fir-btn" id="btn-add-data"><img src="~/images/icons/file-plus.svg"></button>
        <div class="text-effect">Dados</div>
      </div>
    </div>
    <button id="add-btn-show" type="button">+</button>
  </div>
  
  <!-- Modal inserir de dados -->
  <div class="md-modal-container " id="md-modal">
    <div class="md-modal">

      <div class="md-btn-close">
        <img src="~/images/icons/close_bck.svg" id="close">
      </div>
      <h2>Inserir dados</h2>
      
      <div class="md-body">
        <form class="md-form">

          <div class="md-form-left">
            <input class="input" type="text" placeholder="Ativo">
            <input class="input" type="text" placeholder="Valor em carteira">
            <input class="input" type="text" placeholder="Resultado">
  
            <div class="md-radio-btn">
              <input type="radio" id="ganho" name="kindOf">
              <label for="ganho">Ganho</label>
              <input type="radio" id="perda" name="kindOf">
              <label for="perda">Perda</label>
            </div>
            
            <input class="input" type="text" placeholder="Estratégia"> <!-- Place a dropdown here! -->
            <div class="md-new-strategy">
              <a href="#">Adicionar uma nova estratégia</a>
            </div>   
          </div>
         
          <div class="md-image-upload">
            <label for="file-input">
              <img src="~/images/img/uploadImage.svg" />
            </label>
            
            <input class="input" type="text" placeholder="Investimento mensal">  
            <input id="file-input" type="file" accept="image/*" />

            <div class="md-save-btn">
              <button type="submit">
                Adicionar
              </button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>

  <!-- Modal inserir estratégia -->
  <div class="me-modal-container" id="me-modal">
    <div class="me-modal">

      <div class="me-btn-close">
        <img src="~/images/icons/close_bck.svg" id="close">
      </div>
      <h2>Inserir estratégia</h2>

      <div class="me-body">
        <form class="me-form">
          <div class="me-inputs">
            <input type="text" class="input" placeholder="Nome">
            <input type="text" class="input" placeholder="Em qual ativo usa-lá?">
            <input type="text" class="input" placeholder="Onde entra na operação?">
            <input type="text" class="input" placeholder="Quando realiza a entrada?">
          </div>
          <div class="me-inputs">
            <input type="text" class="input" placeholder="Como será a entrada?">
            <input type="text" class="input" placeholder="Por que?">

            <div class="me-save-btn">
              <button type="submit">
                Adicionar
              </button>
            </div>  
          </div>
        </form>
      </div>


    </div>
  </div>

  <!-- Modal config. de perfil -->
  <div class="ms-modal-container" id="modalInitial">
  
    <div class="ms-modal">
      <header class="ms-header">
        <div class="ms-close">
          <img src="~/images/icons/close.svg" alt="" id="close">
        </div>

        <div class="ms-wallet">
          <div class="ms-wallet-icon">
            <img src="~/images/icons/wallet.svg" alt="Carteira">
          </div>
          <div class="ms-wallet-value">
            <p>R$ 0,00</p>
          </div>
        </div>
      </header>

      <div class="ms-avatar">
        <img src="https://api.adorable.io/avatars/100/abott@adorable.png" alt="Avatar">
      </div>
      <div class="ms-name">
        <p>Sr. Leonardo de Paula</p>
      </div>
      
      <div class="ms-line">
        <hr>
      </div>  
      <form class="ms-form">
        <div class="ms-fist-settings">
          <input class="input input-name" type="text" value="Leonardo">
          <input class="input input-sec-name" type="text" value=" de Paula">
          <input class="input input-date-nasc" type="date" value="1996-05-23">
          <input class="input input-email" type="email" placeholder="leonardo@leonardo.com" disabled>
          <input class="input input-password" type="password" placeholder="Senha atual">
          <input class="input input-new-password" type="password" placeholder="Nova senha">

        </div>          
          <div class="ms-button">
            <button>Salvar</button>
          </div>
      </form>

    </div>
  </div>

    <!-- Scripts -->
    <script src="~/js/ms-modal.js"></script>
    <script src="~/js/md-modal.js"></script>
    <script src="~/js/me-modal.js"></script>
    <script src="~/js/button-modal.js"></script>
</body>
</html> 