@model ProjetoDATATrade.Controllers.MinhasRegrasController.ViewModelRegistro

    @{
    Layout = null;
} 

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DataTrader</title>

    <!-- CSS's -->
    <link rel="stylesheet" href="~/css/index/body.css">
    <!-- CSS's Globais -->
    <link rel="stylesheet" href="~/css/global/global.css">
    <link rel="stylesheet" href="~/css/global/header.css">
    <link rel="stylesheet" href="~/css/global/footer.css">
    <link rel="stylesheet" href="~/css/global/btn-add.css">
    <link rel="stylesheet" href="~/css/global/modal-settings.css"> <!-- prefixo 'ms' -->
    <link rel="stylesheet" href="~/css/global/modal-data.css"> <!-- prefixo 'md' -->
    <link rel="stylesheet" href="~/css/global/modal-estrategia.css"> <!-- prefixo 'me' -->

</head>
<body>
    <!-- Header -->
    <partial name="_HeaderLayout" />

    <!-- Main -->
    <main class="main container">
        <div class="pre-trade-section">
            <h2 class="title">Pré-Trade</h2>
            <div class="card">
                <h3 class="subtitle">Suporte/Resistência</h3>
                <hr class="line">
                <ul class="list">
                    <li>Verificar principais noticias e calendário econômico</li>
                    <li>Verificar a performance do dia anterior</li>
                    <li>Verificar tendencia do mercado (ALTA/BAIXA/LATERAL)</li>
                </ul>

                <select class="combobox" name="" id="">
                    <option value="Estrategia1">Estratégia 1</option>
                    <option value="Estrategia1">Estratégia 2</option>
                </select>

                <div class="questions">
                    <menu class="list list-sec" style="list-style: none;">
                        <h3 class="text-focus">Onde?</h3>
                        <li>Tomada de decisão em suporte e resistência no time de H1</li>
                        <h3 class="text-focus">Quando?</h3>
                        <li>Quando o preço se aproximar demonstrando fraqueza perto das regiões de interesse(Suporte e Resistência)</li>
                        <h3 class="text-focus">Como?</h3>
                        <li>Programar uma ordem abaixo do candle de gatilho, após o toque na região de interesse, com gerenciamento 2/1</li>
                        <h3 class="text-focus">Por que?</h3>
                        <li>Programar uma ordem abaixo do candle de gatilho, após o toque na região de interesse, com gerenciamento 2/1</li>
                    </menu>
                </div>
            </div>
        </div>

        <div class="perfil-trade-section">
            <h2 class="title">Perfil Trader</h2>
            <div class="card">
                <div class="preferences">
                    <div class="list">
                        <ul class="row">
                            <li class="left-info">Dias da operação</li>
                            <li class="right-info">SEG-SEX</li>
                        </ul>
                        <hr>
                        <ul class="row">
                            <li class="left-info">Hora da operação</li>
                            <li class="right-info">8h - 12h</li>
                        </ul>
                        <hr>
                        <ul class="row">
                            <li class="left-info">Objetivo de ganho diário</li>
                            <li class="right-info">3,00%</li>
                        </ul>
                        <hr>
                        <ul class="row">
                            <li class="left-info">Objetivo de ganho semanal</li>
                            <li class="right-info">12%</li>
                        </ul>
                        <hr>
                        <ul class="row">
                            <li class="left-info">Objetivo de ganho mensal</li>
                            <li class="right-info">24%</li>
                        </ul>
                        <hr>
                        <ul class="row">
                            <li class="left-info">Limite de perda diária</li>
                            <li class="right-info">3,00%</li>
                        </ul>
                        <hr>
                        <ul class="row">
                            <li class="left-info">Limite de perda semanal</li>
                            <li class="right-info">12%</li>
                        </ul>
                        <hr>
                        <ul class="row">
                            <li class="left-info">Limite de perda mensal</li>
                            <li class="right-info">24%</li>
                        </ul>
                        <hr>
                    </div>

                    <div class="b-main-info">
                        <div class="ativo">
                            <p>Ativo:</p>
                            <p class="i-name">GBPUSD/EURUSD/USDJPY</p>
                        </div>
                        <div class="indicadores">
                            <p>Indicadores:</p>
                            <p class="i-name">PREÇO/SMA21/SMA200</p>
                        </div>
                        <div class="candles">
                            <p>Principais candles:</p>
                            <div class="candles-img">
                                <img src="~/images/img/graphic.png">
                                <img src="~/images/img/graphic.png">
                                <img src="~/images/img/graphic.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- Main - Seção de notícias -->
    <div class="newsletters container">
        <h2>Noticias do momentos</h2>
        <section class="news card">
            <div class="news-container">
                <div class="news-img">
                    <img src="~/images/img/news.png">
                </div>
                <div class="news-info">
                    <p class="news-title">News title</p>
                    <div class="text-info-news">
                        <p>
                            Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit.
                            Cursus lectus pulvinar nulla massa facilisis.
                            Duis odio tellus.
                        </p>
                    </div>
                    <div class="font-news">
                        <a href="http://www.cnn.com.br">cnn.com.br</a>
                    </div>
                </div>
            </div>
            <div class="news-container">
                <div class="news-img">
                    <img src="~/images/img/news.png">
                </div>
                <div class="news-info">
                    <p class="news-title">News title</p>
                    <div class="text-info-news">
                        <p>
                            Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit.
                            Cursus lectus pulvinar nulla massa facilisis.
                            Duis odio tellus.
                        </p>
                    </div>
                    <div class="font-news">
                        <a href="http://www.cnn.com.br">cnn.com.br</a>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- Footer -->
    <partial name="_FooterLayout" />

    <!-- Botão de inserção de dados -->
    <div class="add-btn">
      <div class="add-options-btn" id="btn-options">
        <div class="hover1">
          <button class="button fir-btn" id="btn-add-estrategia"><img src="~/images/icons/book.svg"></button>
          <div class="text-effect">Estratégia</div>
        </div>
      </div>
      <button id="add-btn-show" type="button">+</button>
    </div>
    
    <!-- Modal inserir estratégia -->
    <div class="me-modal-container" id="me-modal">
        <div class="me-modal">

            <div class="me-btn-close">
                <img src="~/images/icons/close_bck.svg" id="close">
            </div>

            <h2>Inserir estratégia</h2>

            <div class="me-body">
                <form class="me-form" asp-controller="" asp-action="" method="POST">
                    <div class="me-inputs">
                        <input type="text" class="input" placeholder="Nome" asp-for="Nome">
                        <input type="text" class="input" placeholder="Em qual ativo usa-lá?" <!--asp-for=""--> > 
                        <input type="text" class="input" placeholder="Onde entra na operação?" <!--asp-for="Onde"--> >
                        <input type="text" class="input" placeholder="Quando realiza a entrada?" <!--asp-for="Quando"--> >
                    </div>
                    <div class="me-inputs">
                        <input type="text" class="input" placeholder="Como será a entrada?" <!--asp-for="Como"--> >
                        <input type="text" class="input" placeholder="Por que?" <!--asp-for="Porque"--> >

                        <div class="me-save-btn">
                            <button type="submit">
                                Adicionar
                            </button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <!-- Modal config. de perfil -->
    <partial name="_configUser" />

    <!-- Scripts -->
    <script src="~/js/ms-modal.js"></script>
    <script src="~/js/md-modal.js"></script>
    <script src="~/js/me-modal.js"></script>
    <script src="~/js/button-modal.js"></script>
</body>
</html> 