<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Title</title>

  <!-- CSS's -->
  <link rel="stylesheet" href="../../wwwroot/css/index/body.css">
  <!-- CSS's Globais -->
  <link rel="stylesheet" href="../../wwwroot/css/global/global.css">
  <link rel="stylesheet" href="../../wwwroot/css/global/header.css">
  <link rel="stylesheet" href="../../wwwroot/css/global/footer.css">
  <link rel="stylesheet" href="../../wwwroot/css/global/btn-add.css">
  <link rel="stylesheet" href="../../wwwroot/css/global/modal-settings.css"> <!-- prefixo 'ms' -->
  <link rel="stylesheet" href="../../wwwroot/css/global/modal-data.css"> <!-- prefixo 'md' -->
  <link rel="stylesheet" href="../../wwwroot/css/global/modal-estrategia.css"> <!-- prefixo 'me' -->

</head>
<body>
  <!-- Header -->
  <header>
    <div class="header-container">
      <div class="main-logo">
        <a href="index.html"><img src="~/images/img/main-logo.png" alt="Logo DataTrade"></a>
      </div>

      <div class="main-info">
        <div class="info-01">
          <label>Rendimento diário</label>
          <div id="main-rendimento-header">
            <p>10%</p>
          </div>
        </div>
        <div class="info-02">
          <label>Lucro diário</label>
          <div id="main-lucro-header">
            <p>R$ 30,00</p>
          </div>
        </div>
      </div>

      <div class="info-profile">
        <div class="profile">
          <div class="name">
            <p>Sr. Leonardo <p class="sec-name">de Paula</p></p>
          </div>
          <div class="wallet">
            <div class="wallet-icon">
              <img src="~/images/icons/wallet.svg" alt="Carteira">
            </div>
            <div class="wallet-value">
              <p>R$ 0,00</p>
            </div>
          </div>
        </div>
        <div class="avatar">
          <img src="https://api.adorable.io/avatars/100/abott@adorable.png" alt="Avatar">
        </div>
      </div>
    </div>

    <nav>
      <div class="container-nav">
        <ul class="grid-nav">
          <li class="grid-item"><a href="Index.html">Minhas regras</a></li>
          <li class="grid-item"><a href="Perfurmance.html">Performance</a></li>
          <li class="grid-item"><a href="DTrade.html">Diário de Trade</a></li>
          <li class="grid-item last"><a href="Rentabilidade.html">Rentabilidade</a></li>
        </ul>
      </div>
    </nav>
  </header>
  
  <!-- Footer -->
  <footer class="main-footer">
    <div class="footer-container">
      <div class="logo-footer">
        <img src="~/images/img/footer-logo.svg" alt="DATATRADER">
      </div>
        <div class="links-footer mapa-do-site">
          <h3>Mapa do site</h3>
          <ul>
            <li><a href="#">Minhas regras</a></li>
            <li><a href="#">Performance</a></li>
            <li><a href="#">Diário de Trader</a></li>
            <li><a href="#">Rentabilidade</a></li>
          </ul>
        </div>
        <div class="links-footer Suporte">
          <h3>Suporte</h3>
          <ul>
            <li><a href="#">Fale com a gente</a></li>
            <li><a href="#">Feedbacks</a></li>
            <li><a href="#">E-mail</a></li>
          </ul>
        </div>
    </div>
  </footer>

  <!-- Botão de inserção de dados -->
  <div class="add-btn">
    <div class="add-options-btn" id="btn-options">
      <div class="hover1">
        <button class="button sec-btn" id="btn-add-estrategia"><img src="~/images/icons/book.svg"></button>
        <div class="text-effect">Estratégia</div>
      </div>
      <div class="hover2">
        <button class="button fir-btn" id="btn-add-data"><img src="~/images/icons/file-plus.svg"></button>
        <div class="text-effect">Dados</div>
      </div>
    </div>
    <button id="add-btn-show" type="button">+</button>
  </div>
  
  <!-- Modal inserir de dados -->
  <div class="md-modal-container " id="md-modal">
    <div class="md-modal">

      <div class="md-btn-close">
        <img src="~/images/icons/close_bck.svg" id="close">
      </div>
      <h2>Inserir dados</h2>
      
      <div class="md-body">
        <form class="md-form">

          <div class="md-form-left">
            <input class="input" type="text" placeholder="Ativo">
            <input class="input" type="text" placeholder="Valor em carteira">
            <input class="input" type="text" placeholder="Resultado">
  
            <div class="md-radio-btn">
              <input type="radio" id="ganho" name="kindOf">
              <label for="ganho">Ganho</label>
              <input type="radio" id="perda" name="kindOf">
              <label for="perda">Perda</label>
            </div>
            
            <input class="input" type="text" placeholder="Estratégia"> <!-- Place a dropdown here! -->
            <div class="md-new-strategy">
              <a href="#">Adicionar uma nova estratégia</a>
            </div>   
          </div>
         
          <div class="md-image-upload">
            <label for="file-input">
              <img src="~/images/img/uploadImage.svg" />
            </label>
            
            <input class="input" type="text" placeholder="Investimento mensal">  
            <input id="file-input" type="file" accept="image/*" />

            <div class="md-save-btn">
              <button type="submit">
                Adicionar
              </button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>

  <!-- Modal inserir estratégia -->
  <div class="me-modal-container" id="me-modal">
    <div class="me-modal">

      <div class="me-btn-close">
        <img src="~/images/icons/close_bck.svg" id="close">
      </div>
      <h2>Inserir estratégia</h2>

      <div class="me-body">
        <form class="me-form">
          <div class="me-inputs">
            <input type="text" class="input" placeholder="Nome">
            <input type="text" class="input" placeholder="Em qual ativo usa-lá?">
            <input type="text" class="input" placeholder="Onde entra na operação?">
            <input type="text" class="input" placeholder="Quando realiza a entrada?">
          </div>
          <div class="me-inputs">
            <input type="text" class="input" placeholder="Como será a entrada?">
            <input type="text" class="input" placeholder="Por que?">

            <div class="me-save-btn">
              <button type="submit">
                Adicionar
              </button>
            </div>  
          </div>
        </form>
      </div>


    </div>
  </div>

  <!-- Modal config. de perfil -->
  <div class="ms-modal-container" id="modalInitial">
  
    <div class="ms-modal">
      <header class="ms-header">
        <div class="ms-close">
          <img src="~/images/icons/close.svg" alt="" id="close">
        </div>

        <div class="ms-wallet">
          <div class="ms-wallet-icon">
            <img src="~/images/icons/wallet.svg" alt="Carteira">
          </div>
          <div class="ms-wallet-value">
            <p>R$ 0,00</p>
          </div>
        </div>
      </header>

      <div class="ms-avatar">
        <img src="https://api.adorable.io/avatars/100/abott@adorable.png" alt="Avatar">
      </div>
      <div class="ms-name">
        <p>Sr. Leonardo de Paula</p>
      </div>
      
      <div class="ms-line">
        <hr>
      </div>  
      <form class="ms-form">
        <div class="ms-fist-settings">
          <input class="input input-name" type="text" value="Leonardo">
          <input class="input input-sec-name" type="text" value="de Paula">
          <input class="input input-date-nasc" type="date" value="1996-05-23">
          <input class="input input-email" type="email" placeholder="leonardo@leonardo.com" disabled>
          <input class="input input-password" type="password" placeholder="Senha atual">
          <input class="input input-new-password" type="password" placeholder="Nova senha">

        </div>          
          <div class="ms-button">
            <button>Salvar</button>
          </div>
      </form>

    </div>
  </div>

  <!-- Scripts -->
  <script src="../../wwwroot/js/ms-modal.js"></script>
  <script src="../../wwwroot/js/md-modal.js"></script>
  <script src="../../wwwroot/js/me-modal.js"></script>
  <script src="../../wwwroot/js/button-modal.js"></script>
</body>
</html>