@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/styles.css">
    <title>Document</title>
</head>
<body>
    <div class="back">
        <div class="container">
            <div class="logo">
                <img src="~/svg/Logo.svg" alt="On-Core">
            </div>
            <hr>
            <div class="card">
                <h1 class="text-h1">Criar uma conta</h1>
                <form name="dados">
                    <input type="text" id="name" placeholder="Nome">
                    <input type="text" id="name" placeholder="Sobrenome">
                    <input type="email" placeholder="E-mail">
                    <input type="password" placeholder="Senha">
                    <input type="password" placeholder="Confirmar e-mail">
                    <div id="date">
                        <input type="text" placeholder="Dia" id="day">
                        <input type="text" placeholder="Mês" id="month">
                        <input type="text" placeholder="Ano" id="year">
                    </div>
                    <div class="center">
                        <input type="checkbox" id="checkbox">
                        <p>Declaro de li e concordei com os "<a href="#" id="termos"> TERMOS DE USO</a>"</p>
                    </div>
                </form>
                <div class="arrow">
                    <a href="#"><img src="~/svg/arrow.svg" alt="Voltar"></a>
                </div>
                <button type="submit" class="btnReg">Registrar-se</button>
            </div>
        </div>
    </div>
    <script src="~/js/auth.js"></script>
</body>
</html>