
@{ 
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rentabilidade</title>

    <!-- CSS's -->
    <link rel="stylesheet" href="~/css/rentabilidade/body.css">
    <!-- CSS's Globais -->
    <link rel="stylesheet" href="~/css/global/global.css">
    <link rel="stylesheet" href="~/css/global/header.css">
    <link rel="stylesheet" href="~/css/global/footer.css">
    <link rel="stylesheet" href="~/css/global/btn-add.css">
    <link rel="stylesheet" href="~/css/global/modal-settings.css"> <!-- prefixo 'ms' -->
    <link rel="stylesheet" href="~/css/global/modal-data.css"> <!-- prefixo 'md' -->
    <link rel="stylesheet" href="~/css/global/modal-estrategia.css"> <!-- prefixo 'me' -->

</head>
<body>
    <!-- Header -->
    <header>
        <div class="header-container">
            <div class="main-logo">
                <a href="@Url.Action("Index", "Home")"><img src="~/images/img/main-logo.png" alt="Logo DataTrade"></a>
            </div>

            <div class="main-info">
                <div class="info-01">
                    <label>Rendimento diário</label>
                    <div id="main-rendimento-header">
                        <p>10%</p>
                    </div>
                </div>
                <div class="info-02">
                    <label>Lucro diário</label>
                    <div id="main-lucro-header">
                        <p>R$ 30,00</p>
                    </div>
                </div>
            </div>

            <div class="info-profile">
                <div class="profile">
                    <div class="name">
                        <p>Sr. Leonardo <p class="sec-name"> de Paula</p>
                    </div>
                    <div class="wallet">
                        <div class="wallet-icon">
                            <img src="~/images/icons/wallet.svg" alt="Carteira">
                        </div>
                        <div class="wallet-value">
                            <p>R$ 0,00</p>
                        </div>
                    </div>
                </div>
                <div class="avatar">
                    <img src="https://api.adorable.io/avatars/100/abott@adorable.png" alt="Avatar">
                </div>
            </div>
        </div>

        <nav>
            <div class="container-nav">
                <ul class="grid-nav">
                    <li class="grid-item"><a href="@Url.Action("Index", "Home")">Minhas Regras</a></li>
                    <li class="grid-item"><a href="@Url.Action("DTrade", "Home")">Diário de Trade</a></li>
                    <li class="grid-item last"><a href="@Url.Action("Rentabilidade", "Home")">Rentabilidade</a></li>
                </ul>
            </div>
        </nav>
    </header>


    <!-- Main -->
    <div class="container">
        <div class="card">
            <div class="header">
                <h2>Rentabilidade</h2>
                <select>
                    <option value="Julho">Julho</option>
                    <option value="Julho">Agosto</option>
                </select> <!-- dropdown is here! -->
            </div>

            <div class="body">
                <div class="main-informations">
                    <div class="m-info">
                        <p class="title">Mâs</p>
                        <p class="info-data">Abril</p>
                    </div>
                    <div class="m-info">
                        <p class="title">Carteira</p>
                        <p class="info-data">R$ 500,00</p>
                    </div>
                    <div class="m-info">
                        <p class="title">	Aporte/Retirada </p>
                        <p class="info-data">R$ -15,00</p>
                    </div>
                    <div class="m-info">
                        <p class="title">Lucro</p>
                        <p class="info-data">R$ 15,00</p>
                    </div>
                    <div class="m-info">
                        <p class="title">Resultado</p>
                        <p class="info-data">R$ 500,00</p>
                    </div>
                </div>

                <div class="table">
                    <div class="main-table">
                        <table class="tg">
                            <tr>
                                <th class="tg-60hs"><span style="font-weight:bold">Dia</span></th>
                                <th class="tg-60hs"><span style="font-weight:bold">Carteira</span></th>
                                <th class="tg-60hs"><span style="font-weight:bold">Meta esperada</span></th>
                                <th class="tg-60hs"><span style="font-weight:bold">Meta esperada</span></th>
                                <th class="tg-60hs"><span style="font-weight:bold">Meta atingida</span></th>
                                <th class="tg-60hs"><span style="font-weight:bold">Meta atingida</span></th>
                                <th class="tg-60hs"><span style="font-weight:bold">Resultado</span></th>
                                <th class="tg-60hs"><span style="font-weight:bold">Status</span></th>
                            </tr>
                            <tr>
                                <td class="tg-rg0h">d/m</td>
                                <td class="tg-rg0h">R$</td>
                                <td class="tg-rg0h">R$</td>
                                <td class="tg-rg0h">%%</td>
                                <td class="tg-rg0h">R$</td>
                                <td class="tg-rg0h">%%</td>
                                <td class="tg-rg0h">R$</td>
                                <td class="tg-rg0h">--</td>
                            </tr>
                            <tr>
                                <td class="tg-0lax"><b>02/03</b></td>
                                <td class="tg-0lax"><spam style="font-size: small;">R$</spam>500,00</td>
                                <td class="tg-0lax"><spam style="font-size: small;">R$</spam>15,00</td>
                                <td class="tg-0lax">3<spam style="font-size: small;">%</spam></td>
                                <td class="tg-0lax"><spam style="font-size: small;">R$</spam>15,00</td>
                                <td class="tg-0lax">3<spam style="font-size: small;">%</spam></td>
                                <td class="tg-0lax"><spam style="font-size: small;">R$</spam>15,00</td>
                                <td class="tg-0lax">Atingida</td>
                            </tr>
                            <tr>
                                <td class="tg-0lax"><b>03/03</b></td>
                                <td class="tg-0lax"><spam style="font-size: small;">R$</spam>500,00</td>
                                <td class="tg-0lax"><spam style="font-size: small;">R$</spam>15,00</td>
                                <td class="tg-0lax">3<spam style="font-size: small;">%</spam></td>
                                <td class="tg-0lax"><spam style="font-size: small;">R$</spam>15,00</td>
                                <td class="tg-0lax">3<spam style="font-size: small;">%</spam></td>
                                <td class="tg-0lax"><spam style="font-size: small;">R$</spam>15,00</td>
                                <td class="tg-0lax">Atingida</td>
                            </tr>
                            <tr>
                                <td class="tg-0lax"><b>04/03</b></td>
                                <td class="tg-0lax"></td>
                                <td class="tg-0lax"></td>
                                <td class="tg-0lax"></td>
                                <td class="tg-0lax"></td>
                                <td class="tg-0lax"></td>
                                <td class="tg-0lax"></td>
                                <td class="tg-0lax"></td>
                            </tr>
                            <tr>
                                <td class="tg-0lax"><b>05/03</b></td>
                                <td class="tg-0lax"></td>
                                <td class="tg-0lax"></td>
                                <td class="tg-0lax"></td>
                                <td class="tg-0lax"></td>
                                <td class="tg-0lax"></td>
                                <td class="tg-0lax"></td>
                                <td class="tg-0lax"></td>
                            </tr>
                        </table>
                    </div>

                    <div class="sub-table">
                        <br>
                        <table class="tg">
                            <tr>
                                <td class="tg-0lax">Semana 1</td>
                                <td class="tg-0lax"><spam style="font-size: small;">R$</spam>500,00</td>
                                <td class="tg-0lax"><spam style="font-size: small;">R$</spam>15,00</td>
                                <td class="tg-0lax">3<spam style="font-size: small;">%</spam></td>
                                <td class="tg-0lax"><spam style="font-size: small;">R$</spam>15,00</td>
                                <td class="tg-0lax">3<spam style="font-size: small;">%</spam></td>
                                <td class="tg-0lax"><spam style="font-size: small;">R$</spam>15,00</td>
                                <td class="tg-0lax">Atingida</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <hr>
            <!-- TABELA 2 -->

            <div class="body">
                <div class="main-informations">
                    <div class="m-info">
                        <p class="title">Mâs</p>
                        <p class="info-data">Abril</p>
                    </div>
                    <div class="m-info">
                        <p class="title">Carteira</p>
                        <p class="info-data">R$ 500,00</p>
                    </div>
                    <div class="m-info">
                        <p class="title">	Aporte/Retirada </p>
                        <p class="info-data">R$ -15,00</p>
                    </div>
                    <div class="m-info">
                        <p class="title">Lucro</p>
                        <p class="info-data">R$ 15,00</p>
                    </div>
                    <div class="m-info">
                        <p class="title">Resultado</p>
                        <p class="info-data">R$ 500,00</p>
                    </div>
                </div>

                <div class="table">
                    <div class="main-table">
                        <table class="tg">
                            <tr>
                                <th class="tg-60hs"><span style="font-weight:bold">Dia</span></th>
                                <th class="tg-60hs"><span style="font-weight:bold">Carteira</span></th>
                                <th class="tg-60hs"><span style="font-weight:bold">Meta esperada</span></th>
                                <th class="tg-60hs"><span style="font-weight:bold">Meta esperada</span></th>
                                <th class="tg-60hs"><span style="font-weight:bold">Meta atingida</span></th>
                                <th class="tg-60hs"><span style="font-weight:bold">Meta atingida</span></th>
                                <th class="tg-60hs"><span style="font-weight:bold">Resultado</span></th>
                                <th class="tg-60hs"><span style="font-weight:bold">Status</span></th>
                            </tr>
                            <tr>
                                <td class="tg-rg0h">d/m</td>
                                <td class="tg-rg0h">R$</td>
                                <td class="tg-rg0h">R$</td>
                                <td class="tg-rg0h">%%</td>
                                <td class="tg-rg0h">R$</td>
                                <td class="tg-rg0h">%%</td>
                                <td class="tg-rg0h">R$</td>
                                <td class="tg-rg0h">--</td>
                            </tr>
                            <tr>
                                <td class="tg-0lax"><b>02/03</b></td>
                                <td class="tg-0lax"><spam style="font-size: small;">R$</spam>500,00</td>
                                <td class="tg-0lax"><spam style="font-size: small;">R$</spam>15,00</td>
                                <td class="tg-0lax">3<spam style="font-size: small;">%</spam></td>
                                <td class="tg-0lax"><spam style="font-size: small;">R$</spam>15,00</td>
                                <td class="tg-0lax">3<spam style="font-size: small;">%</spam></td>
                                <td class="tg-0lax"><spam style="font-size: small;">R$</spam>15,00</td>
                                <td class="tg-0lax">Atingida</td>
                            </tr>
                            <tr>
                                <td class="tg-0lax"><b>03/03</b></td>
                                <td class="tg-0lax"></td>
                                <td class="tg-0lax"></td>
                                <td class="tg-0lax"></td>
                                <td class="tg-0lax"></td>
                                <td class="tg-0lax"></td>
                                <td class="tg-0lax"></td>
                                <td class="tg-0lax"></td>
                            </tr>
                            <tr>
                                <td class="tg-0lax"><b>04/03</b></td>
                                <td class="tg-0lax"></td>
                                <td class="tg-0lax"></td>
                                <td class="tg-0lax"></td>
                                <td class="tg-0lax"></td>
                                <td class="tg-0lax"></td>
                                <td class="tg-0lax"></td>
                                <td class="tg-0lax"></td>
                            </tr>
                            <tr>
                                <td class="tg-0lax"><b>05/03</b></td>
                                <td class="tg-0lax"></td>
                                <td class="tg-0lax"></td>
                                <td class="tg-0lax"></td>
                                <td class="tg-0lax"></td>
                                <td class="tg-0lax"></td>
                                <td class="tg-0lax"></td>
                                <td class="tg-0lax"></td>
                            </tr>
                        </table>
                    </div>

                    <div class="sub-table">
                        <br>
                        <table class="tg">
                            <tr>
                                <td class="tg-0lax">Semana 2</td>
                                <td class="tg-0lax"><spam style="font-size: small;">R$</spam>500,00</td>
                                <td class="tg-0lax"><spam style="font-size: small;">R$</spam>15,00</td>
                                <td class="tg-0lax">3<spam style="font-size: small;">%</spam></td>
                                <td class="tg-0lax"><spam style="font-size: small;">R$</spam>15,00</td>
                                <td class="tg-0lax">3<spam style="font-size: small;">%</spam></td>
                                <td class="tg-0lax"><spam style="font-size: small;">R$</spam>15,00</td>
                                <td class="tg-0lax">Atingida</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <hr>
            <!-- TABELA 3 -->

            <div class="body">
                <div class="main-informations">
                    <div class="m-info">
                        <p class="title">Mâs</p>
                        <p class="info-data">Abril</p>
                    </div>
                    <div class="m-info">
                        <p class="title">Carteira</p>
                        <p class="info-data">R$ 500,00</p>
                    </div>
                    <div class="m-info">
                        <p class="title">	Aporte/Retirada </p>
                        <p class="info-data">R$ -15,00</p>
                    </div>
                    <div class="m-info">
                        <p class="title">Lucro</p>
                        <p class="info-data">R$ 15,00</p>
                    </div>
                    <div class="m-info">
                        <p class="title">Resultado</p>
                        <p class="info-data">R$ 500,00</p>
                    </div>
                </div>

                <div class="table">
                    <div class="main-table">
                        <table class="tg">
                            <tr>
                                <th class="tg-60hs"><span style="font-weight:bold">Dia</span></th>
                                <th class="tg-60hs"><span style="font-weight:bold">Carteira</span></th>
                                <th class="tg-60hs"><span style="font-weight:bold">Meta esperada</span></th>
                                <th class="tg-60hs"><span style="font-weight:bold">Meta esperada</span></th>
                                <th class="tg-60hs"><span style="font-weight:bold">Meta atingida</span></th>
                                <th class="tg-60hs"><span style="font-weight:bold">Meta atingida</span></th>
                                <th class="tg-60hs"><span style="font-weight:bold">Resultado</span></th>
                                <th class="tg-60hs"><span style="font-weight:bold">Status</span></th>
                            </tr>
                            <tr>
                                <td class="tg-rg0h">d/m</td>
                                <td class="tg-rg0h">R$</td>
                                <td class="tg-rg0h">R$</td>
                                <td class="tg-rg0h">%%</td>
                                <td class="tg-rg0h">R$</td>
                                <td class="tg-rg0h">%%</td>
                                <td class="tg-rg0h">R$</td>
                                <td class="tg-rg0h">--</td>
                            </tr>
                            <tr>
                                <td class="tg-0lax"><b>02/03</b></td>
                                <td class="tg-0lax"><spam style="font-size: small;">R$</spam>500,00</td>
                                <td class="tg-0lax"><spam style="font-size: small;">R$</spam>15,00</td>
                                <td class="tg-0lax">3<spam style="font-size: small;">%</spam></td>
                                <td class="tg-0lax"><spam style="font-size: small;">R$</spam>15,00</td>
                                <td class="tg-0lax">3<spam style="font-size: small;">%</spam></td>
                                <td class="tg-0lax"><spam style="font-size: small;">R$</spam>15,00</td>
                                <td class="tg-0lax">Atingida</td>
                            </tr>
                            <tr>
                                <td class="tg-0lax"><b>03/03</b></td>
                                <td class="tg-0lax"></td>
                                <td class="tg-0lax"></td>
                                <td class="tg-0lax"></td>
                                <td class="tg-0lax"></td>
                                <td class="tg-0lax"></td>
                                <td class="tg-0lax"></td>
                                <td class="tg-0lax"></td>
                            </tr>
                            <tr>
                                <td class="tg-0lax"><b>04/03</b></td>
                                <td class="tg-0lax"></td>
                                <td class="tg-0lax"></td>
                                <td class="tg-0lax"></td>
                                <td class="tg-0lax"></td>
                                <td class="tg-0lax"></td>
                                <td class="tg-0lax"></td>
                                <td class="tg-0lax"></td>
                            </tr>
                            <tr>
                                <td class="tg-0lax"><b>05/03</b></td>
                                <td class="tg-0lax"></td>
                                <td class="tg-0lax"></td>
                                <td class="tg-0lax"></td>
                                <td class="tg-0lax"></td>
                                <td class="tg-0lax"></td>
                                <td class="tg-0lax"></td>
                                <td class="tg-0lax"></td>
                            </tr>
                        </table>
                    </div>

                    <div class="sub-table">
                        <br>
                        <table class="tg">
                            <tr>
                                <td class="tg-0lax">Semana 2</td>
                                <td class="tg-0lax"><spam style="font-size: small;">R$</spam>500,00</td>
                                <td class="tg-0lax"><spam style="font-size: small;">R$</spam>15,00</td>
                                <td class="tg-0lax">3<spam style="font-size: small;">%</spam></td>
                                <td class="tg-0lax"><spam style="font-size: small;">R$</spam>15,00</td>
                                <td class="tg-0lax">3<spam style="font-size: small;">%</spam></td>
                                <td class="tg-0lax"><spam style="font-size: small;">R$</spam>15,00</td>
                                <td class="tg-0lax">Atingida</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <hr>
            <!-- TABELA 4 -->

            <div class="body">
                <div class="main-informations">
                    <div class="m-info">
                        <p class="title">Mâs</p>
                        <p class="info-data">Abril</p>
                    </div>
                    <div class="m-info">
                        <p class="title">Carteira</p>
                        <p class="info-data">R$ 500,00</p>
                    </div>
                    <div class="m-info">
                        <p class="title">	Aporte/Retirada </p>
                        <p class="info-data">R$ -15,00</p>
                    </div>
                    <div class="m-info">
                        <p class="title">Lucro</p>
                        <p class="info-data">R$ 15,00</p>
                    </div>
                    <div class="m-info">
                        <p class="title">Resultado</p>
                        <p class="info-data">R$ 500,00</p>
                    </div>
                </div>

                <div class="table">
                    <div class="main-table">
                        <table class="tg">
                            <tr>
                                <th class="tg-60hs"><span style="font-weight:bold">Dia</span></th>
                                <th class="tg-60hs"><span style="font-weight:bold">Carteira</span></th>
                                <th class="tg-60hs"><span style="font-weight:bold">Meta esperada</span></th>
                                <th class="tg-60hs"><span style="font-weight:bold">Meta esperada</span></th>
                                <th class="tg-60hs"><span style="font-weight:bold">Meta atingida</span></th>
                                <th class="tg-60hs"><span style="font-weight:bold">Meta atingida</span></th>
                                <th class="tg-60hs"><span style="font-weight:bold">Resultado</span></th>
                                <th class="tg-60hs"><span style="font-weight:bold">Status</span></th>
                            </tr>
                            <tr>
                                <td class="tg-rg0h">d/m</td>
                                <td class="tg-rg0h">R$</td>
                                <td class="tg-rg0h">R$</td>
                                <td class="tg-rg0h">%%</td>
                                <td class="tg-rg0h">R$</td>
                                <td class="tg-rg0h">%%</td>
                                <td class="tg-rg0h">R$</td>
                                <td class="tg-rg0h">--</td>
                            </tr>
                            <tr>
                                <td class="tg-0lax"><b>02/03</b></td>
                                <td class="tg-0lax"><spam style="font-size: small;">R$</spam>500,00</td>
                                <td class="tg-0lax"><spam style="font-size: small;">R$</spam>15,00</td>
                                <td class="tg-0lax">3<spam style="font-size: small;">%</spam></td>
                                <td class="tg-0lax"><spam style="font-size: small;">R$</spam>15,00</td>
                                <td class="tg-0lax">3<spam style="font-size: small;">%</spam></td>
                                <td class="tg-0lax"><spam style="font-size: small;">R$</spam>15,00</td>
                                <td class="tg-0lax">Atingida</td>
                            </tr>
                            <tr>
                                <td class="tg-0lax"><b>03/03</b></td>
                                <td class="tg-0lax"></td>
                                <td class="tg-0lax"></td>
                                <td class="tg-0lax"></td>
                                <td class="tg-0lax"></td>
                                <td class="tg-0lax"></td>
                                <td class="tg-0lax"></td>
                                <td class="tg-0lax"></td>
                            </tr>
                            <tr>
                                <td class="tg-0lax"><b>04/03</b></td>
                                <td class="tg-0lax"></td>
                                <td class="tg-0lax"></td>
                                <td class="tg-0lax"></td>
                                <td class="tg-0lax"></td>
                                <td class="tg-0lax"></td>
                                <td class="tg-0lax"></td>
                                <td class="tg-0lax"></td>
                            </tr>
                            <tr>
                                <td class="tg-0lax"><b>05/03</b></td>
                                <td class="tg-0lax"></td>
                                <td class="tg-0lax"></td>
                                <td class="tg-0lax"></td>
                                <td class="tg-0lax"></td>
                                <td class="tg-0lax"></td>
                                <td class="tg-0lax"></td>
                                <td class="tg-0lax"></td>
                            </tr>
                        </table>
                    </div>

                    <div class="sub-table">
                        <br>
                        <table class="tg">
                            <tr>
                                <td class="tg-0lax">Semana 2</td>
                                <td class="tg-0lax"><spam style="font-size: small;">R$</spam>500,00</td>
                                <td class="tg-0lax"><spam style="font-size: small;">R$</spam>15,00</td>
                                <td class="tg-0lax">3<spam style="font-size: small;">%</spam></td>
                                <td class="tg-0lax"><spam style="font-size: small;">R$</spam>15,00</td>
                                <td class="tg-0lax">3<spam style="font-size: small;">%</spam></td>
                                <td class="tg-0lax"><spam style="font-size: small;">R$</spam>15,00</td>
                                <td class="tg-0lax">Atingida</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Footer -->
    <footer class="main-footer">
        <div class="footer-container">
            <div class="logo-footer">
                <img src="~/images/img/footer-logo.svg" alt="DATATRADER">
            </div>
            <div class="links-footer mapa-do-site">
                <h3>Mapa do site</h3>
                <ul>
                    <li><a href="~/Home/Index">Minhas Regras</a></li>
                    <li><a href="~/Home/DTrade">Diário de Trader</a></li>
                    <li><a href="~/Home/Rentabilidade">Rentabilidade</a></li>
                </ul>
            </div>
            <div class="links-footer Suporte">
                <h3>Suporte</h3>
                <ul>
                    <li><a href="#">Fale com a gente</a></li>
                    <li><a href="#">Feedbacks</a></li>
                    <li><a href="#">E-mail</a></li>
                </ul>
            </div>
        </div>
    </footer>

    <!-- Modal config. de perfil -->
    <div class="ms-modal-container" id="modalInitial">

        <div class="ms-modal">
            <header class="ms-header">
                <div class="ms-close">
                    <img src="~/images/icons/close.svg" alt="" id="close">
                </div>

                <div class="ms-wallet">
                    <div class="ms-wallet-icon">
                        <img src="~/images/icons/wallet.svg" alt="Carteira">
                    </div>
                    <div class="ms-wallet-value">
                        R$<input class="inputNone" type="number" step="0.01" min="0" max="10" asp-for="Saldo">
                    </div>
                </div>
            </header>

            <div class="ms-avatar">
                <img src="https://api.adorable.io/avatars/100/abott@adorable.png" alt="Avatar">
            </div>
            <div class="ms-name">
                <p><b>Sr. Leonardo de Paula</b></p> <!--Renderizar o nome da pessoas-->
            </div>

            <div class="ms-line">
                <hr>
            </div>

            <h1>Dados de usuário</h1>

            <form method="post" asp-action="RecuperarAlterarSenha" asp-controller="Index" class="ms-form">

                <div class="ms-first-settings">
                    <input class="input" type="text" value="Leonardo" asp-for="NomeCompleto">
                    <input class="input" type="email" placeholder="leonardo@leonardo.com" disabled>
                    <div>
                        <input class="input input-password" type="password" placeholder="Senha atual" asp-for="Senha">
                        <input class="input input-password" type="password" placeholder="Nova senha" asp-for="SenhaNova">
                    </div>
                </div>

                <div class="ms-line">
                    <hr>
                </div>

                <h1>Perfil Trader</h1>

                <div class="ms-perfilTrader-settings">
                    <input class="input" type="text" placeholder="Dias da operação" asp-for="DiasTrader">
                    <input class="input" type="time" placeholder="Horario de operação" asp-for="HorarioTrader">
                    <input class="input" type="number" placeholder="Objetivo de ganho diário" asp-for="ObjetivoGanhoDiario">
                    <input class="input" type="number" placeholder="Objetivo de ganho semanal" asp-for="ObjetivoGanhoSemanal">
                    <input class="input" type="number" placeholder="Objetivo de ganho mensal" asp-for="ObjetivoGanhoMensal">
                    <input class="input" type="number" placeholder="Limite de perda diária" asp-for="LimitePerdaDiaria">
                    <input class="input" type="number" placeholder="Limite de perda semanal" asp-for="LimitePerdaSemanal">
                    <input class="input" type="number" placeholder="Limite de perda mensal" asp-for="LimitePerdaMensal">
                    <input class="input" type="text" placeholder="Ativo" asp-for="AtivoOperado">
                    <input class="input" type="text" placeholder="Indicadores" asp-for="IndicadorTrader">
                </div>

                <div class="ms-button">
                    <button type="submit">Salvar</button>
                </div>
            </form>

        </div>
    </div>

    <!-- Scripts -->
    <script src="~/js/ms-modal.js"></script>
    <script src="~/js/md-modal.js"></script>
    <script src="~/js/me-modal.js"></script>
    <script src="~/js/button-modal.js"></script>
</body>
</html>