@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-size: 16px;
  font-family: Roboto, 'sans-serif';
  letter-spacing: 0.5px;
  background: #E1E1E1;
  color: #000;
  -webkit-font-smoothing: antialiased !important;
}

ul {
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

input {
  font-size: 18px;
  padding: 12px;
  background: #ffffff;
}

.input {
  height: 35px;
  border: 1.5px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.button {
  cursor: pointer;
}
