@model ProjetoDATATrade.Models.Login

@{
    Layout = null;
}

@if (TempData["sErrMsg"] != null)
{
    Html.RenderPartial("ErrorMessageViewLogin", TempData["sErrMsg"]);
}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/login/styles.css">
    <title>Login</title>
    <script src="~/js/validationLoginForm.js" defer></script>
</head>
<body>
    <div class="back">
        <div class="container">
            <div class="logo">
                <img src="~/css/login/svg/Logo.svg" alt="DATA-Core">
            </div>
            <hr>
            <div class="card">
                <form method="post" asp-action="Login" asp-controller="Authentication">
                    <div>
                        <input required type="email" placeholder="E-mail" asp-for="Email">
                        <span class="error"></span>
                    </div>
                    <div>
                        <input required type="password" placeholder="Senha" asp-for="Senha">
                        <span class="error"></span>
                    </div>

                    <button type="submit" class="btnLogin">Login</button>

                </form>
                <div class="options">
                    <a href="@Url.Action("Index", "Home")" id="Forgot">Esqueci a senha!</a>
                    <a href="@Url.Action("Register", "Authentication")" id="Register">Registrar-se</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>