@model ProjetoDATATrade.Controllers.AuthenticationController.ViewModelRegistro
@{
    Layout = null;
}

@if (TempData["sErrMsg"] != null)
{
    Html.RenderPartial("ErrorMessageViewRegister", TempData["sErrMsg"]);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/register/styles.css">
    <title>Document</title>
    <script src="~/js/validationRegisterForm.js" defer></script>
</head>
<body>
    <div class="back">
        <div class="container">
            <div class="logo">
                <img src="~/css/register/svg/Logo.svg" alt="On-Core">
            </div>
            <hr>
            <div class="card">
                <h1 class="text-h1">Criar uma conta</h1>
                <form name="dados" asp-action="Register" asp-controller="Authentication" method="post">
                    <div>
                        <input required type="text" id="name" placeholder="Nome" asp-for="NomeCompleto">
                        <span class="error"></span>
                    </div>
                    <div>
                        <input required type="email" placeholder="E-mail" asp-for="Email">
                        <span class="error"></span>
                    </div>
                    <div>
                        <input required type="password" placeholder="Senha" id="password" minlength="6" asp-for="Senha">
                        <span class="error"></span>
                    </div>

                    <div class="center">
                        <input required type="checkbox" id="checkbox">
                        <p>Declaro de li e concordei com os "<a href="#" id="termos"> TERMOS DE USO</a>"</p>
                        <span class="error"></span>
                    </div>
                    <div class="bottom">
                        <div class="arrow">
                            <a href="@Url.Action("Login", "Authentication")"><img src="~/css/register/svg/arrow.svg" alt="Voltar"></a>
                        </div>
                        <button type="submit" class="btnReg">Registrar-se</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="~/js/auth.js"></script>
</body>
</html>