.ms-modal-container {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, .7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  display: none;
  justify-content: center;
  align-items: center;
}

.ms-modal-container.on {
  display: flex;
  animation: fadeIn .3s;
}

.ms-modal {
  background: #E1E1E1;
  width: 60%;
  min-width: 430px;
  height: 85%;
  position: fixed;
  overflow-y: auto;
}

.on .ms-modal {
  animation: modal .3s;
}

.ms-header {
  background: #262626;
  height: 95px;
}

.ms-header .ms-wallet {
  display: flex;
  position: relative;
  top: 40px;
  left: 15px;
  width: fit-content;
  background: #363636;
  padding: 5px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

.ms-wallet .ms-wallet-icon {
  width: fit-content;
  margin: 0 5px 0 0;
}

.ms-wallet .ms-wallet-icon img{
  width: 25px;
}

.ms-wallet .ms-wallet-value {
  margin-left: 5px;
  display: flex;
  align-items: center;
  color: white;
  padding-bottom: 2px;
  z-index: 100;
}

.inputNone {
  display: flex;
  background: none;
  border: none;
  height: 15px;
  width: 120px;
  color: #fff;
  text-align: center;
}


.ms-close {
  float: right;
  width: auto;
  height: auto;
  position: relative;
  right: 20px;
  top: 45px;
  background-color: none;
  cursor: pointer;
  z-index: 3;
}

.ms-close img {
  width: 25px;
}

.ms-avatar {
  display: flex;
  flex-direction: row;
  position: relative;
  bottom: 40px;
  width: 100%;
  justify-content: center;
}

.ms-avatar img {
  width: 120px;
  border-radius: 60px
}

.ms-name {
  display: flex;
  justify-content: center;
  font-size: 32px;
  margin-bottom: 10px;
}

.ms-line {
  padding-top: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.ms-line:last-child {
  padding-top: 2%;
}

.ms-line hr {
  border: 1px solid rgba(0, 0, 0, .1);
  background: rgba(0, 0, 0, .5);
  width: 80%;
}

.ms-form {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2%;
  justify-content: space-around;
}

.ms-first-settings {
  margin-bottom: 2%;
}

.ms-form input {
  margin: 12px 5px;
}

.dropdown {
  width: 60px;
}

.input {
  width: 250px;
}

.ms-pass {
  position: relative;
  top: 24px;
}

h1 {
  text-align: center;
  margin-top: 3%;
  font-weight: normal;
}

.ms-perfilTrader-settings {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2%;
}

.ms-button {
  width: 100%;
  display: flex;
  margin: 20px 3% 3%;
  justify-content: flex-end;

}

.ms-button  button {
  font-size: 20px;
  padding: 6px 25px;
  background-color: #40416B;
  border: none;
  color: white;
  border-radius: 5px;
}



@media (max-width: 950px) {
  .ms-modal {
    width: 80%;
    height: 90%;
  }

  .ms-form {
    margin: 15px 0;
    padding: 0 20px; 
  }

  input {
    width: 100% !important;
  }
}

@media (max-width: 500px) {
  .ms-modal {
    height: 100%;
    width: 100%;
  }

  .ms-form {
    display: flex;
    height: 570px;
    margin: 0 !important;
  }

  .ms-first-settings {
    width: 100%;
  }

  .ms-form input {
    display: flex;
    margin: 0 0 0 0 !important ;
    height: 45px !important;
    width: 100% !important;
  }

  .ms-form input:not(.input-name) {
    margin: 20px 0 0 0 !important ;
  }

  .ms-button {
    display: block;
    text-align: center;
  }

  button {
    width: 100%;
    height: 45px;
    margin: 15px 0;
  }
}